<div class="container">
    <div class="registration form">
      <header>Reset password</header>
  
      <form class="form-class" [formGroup]="changePasswordForm">
        <div class="password-container">
          <small class="error" *ngIf="changePasswordForm.controls['password'].invalid && changePasswordForm.controls['password'].touched">
            Password must have 8+ chars, 1 uppercase, 1 lowercase, 1 number, 1 special char.
          </small>
          
          <div class="password-wrapper">
            <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="New Password">
            <i class="fa" type="button" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePassword()"></i>
          </div>
        </div>
        
        <div class="password-container">
          <small class="error" *ngIf="changePasswordForm.errors?.['mismatch'] && changePasswordForm.controls['confirmPassword'].touched">
            Passwords do not match.
          </small>
          
          <div class="password-wrapper">
            <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Confirm Password">
            <i class="fa" type="button" [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'" (click)="toggleConfirmPassword()"></i>
          </div>
        </div>
        
  
        <div class="reset-button">
          <input type="button" class="button"   (click)="onSubmit()" value="Reset password">
        </div>
      </form>
    </div>
  </div>
  