<div class="background">
<div class="container">
    <div class="registration form">
      <header>Signup</header>
      <form action="#">
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last Name">
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Confirm your password">
        <input type="button" class="button" value="Signup">
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
         <label for="check">Login</label>
        </span>
      </div>
    </div>
  </div>
  </div>